body {
  text-align: center;
  background: #f0f0f0;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 28px;
  margin: 10px;
  color: #333;
}

canvas {
  border: 3px solid #333;
  background: #ddd;
  display: block;
  margin: auto;
}

#status {
  margin-top: 10px;
  font-size: 22px;
  color: green;
}
